<!--<div class="page-wrapper">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="card">-->
<!--                    <div class="card-body">-->
                      <div class="d-flex mt-3 mb-3">
                        <div class="mr-auto">
<!--                          <button class="btn btn-md btn-info text-white mr-2 px-3"  (click)="openFoodModal()"><i class="fa fa-plus mr-1"></i>Add food</button>-->
                          <button class="btn btn-md btn-secondary text-white ml-2 px-3"
                                  mwlConfirmationPopover placement="right" [appendToBody]="true"
                                  [popoverTitle]="'Xác nhận'"
                                  cancelText="Hủy"
                                  confirmText="Xác nhận"
                                  [popoverMessage]="'Bạn muốn xóa thực phẩm đã chọn'"
                                  (confirm)="tableOptions.extraData.remove()"><i class="fa fa-trash mr-1">
                          </i>Xóa thực phẩm đã chọn</button>
                          <button class="btn btn-md btn-primary text-white ml-2 px-3" (click)="tableOptions.extraData.move()"><i class="fa fa-arrows-alt mr-1">
                          </i>Chuyển vào kho</button>
                        </div>
                      </div>
                        <div class="table-responsive p-4 bg-white fadeSmooth animated">
                                <c-table [options]="tableOptions" #foodTable></c-table>
                        </div>
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


