<div class="modal-header justify-content-center bg-dark text-white">
<!--    <h4 *ngIf="(order | json) == '{}'" class="modal-title text-uppercase"><i class="fa fa-plus mr-2"></i>Thêm đơn hàng</h4>-->
    <h4  class="modal-title text-uppercase"><i class="fa fa-edit mr-2"></i>Chi tiết đơn hàng</h4>
  </div>
  <div class="modal-body">
    <div class="table-responsive p-4 bg-white fadeSmooth animated">
      <c-table [options]="tableOptions" #orderDetailTable></c-table>
    </div>

    <!--    <form [formGroup]="form" (ngSubmit)="createOrder()" class="plaintext">-->
<!--      <formly-form [model]="model" [options]="options" [fields]="fields" [form]="form">-->
<!--      </formly-form>-->
<!--    </form>-->
  </div>
  <div class="modal-footer border-0">
    <button *ngIf = "order.status_name !== 'Hoàn tất'" class="btn btn-danger px-3 btn-lg rounded-sm" type="button" (click)="forceFinishOrder()">
      <i class="icon-close hvr-icon mr-1 text-secondary"></i>Kết thúc đơn hàng
    </button>
    <button class="btn btn-primary px-3 btn-lg rounded-sm" type="button" (click)="activeModal.dismiss('Cross click')">
      <i class="icon-close hvr-icon mr-1 text-secondary"></i>Đóng
    </button>
<!--    <button class="btn btn-primary px-4 btn-lg rounded-sm">-->
<!--      <i class="fa fa-save mr-2 hvr-icon"></i>Lưu-->
<!--    </button>-->
</div>
