<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" class="nav-tab" (ngSubmit)="createRole()">
              <!--      <ngb-tabset>-->
              <!--        <ngb-tab title="Role & Permissions">-->
              <!--          <ng-template ngbTabContent>-->
              <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
              <!--          </ng-template>-->
              <!--        </ngb-tab>-->
              <!--        <ngb-tab title="Users">-->
              <!--          <ng-template ngbTabContent>-->
              <!--            <div class="table-responsive bg-white">-->
              <!--              <c-table #roleTableAssign [options]="tableOptions"></c-table>-->
              <!--            </div>-->
              <!--          </ng-template>-->
              <!--        </ngb-tab>-->
              <!--      </ngb-tabset>-->
                <button class="btn btn-light px-3 btn-lg" type="button">
                  <i class="icon-close mr-1 text-secondary"></i><span>Hủy</span>
                </button>
                  <button class="btn btn-primary px-4 btn-lg" type="submit">
                    <i class="icon-save mr-2"></i><span>Lưu</span>
                  </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
