<form [formGroup]="form" class="nav-tab" (ngSubmit)="createRole()">
  <div class="modal-header justify-content-center bg-primary text-white">
    <h3 *ngIf="(role | json) == '{}'" class="modal-title text-uppercase"><i class="icon-add mr-2"></i>Thêm nhóm user </h3>
    <h3 *ngIf="(role | json) != '{}'" class="modal-title text-uppercase"><i class="icon-add mr-2"></i>Cập nhật nhóm user</h3>
  </div>
  <div class="modal-body">
    <div *ngIf="(role | json) == '{}'" class="mt-n5">
      <formly-form [form]="form" [fields]="fields" [model]="role"></formly-form>
    </div>
    <div *ngIf="(role | json) != '{}'">
      <formly-form [form]="form" [fields]="fields" [model]="role"></formly-form>
      <div class="table-responsive bg-white">
        <c-table #roleTableAssign [options]="tableOptions"></c-table>
      </div>
    </div>
  <div class="modal-footer border-top-0">
    <button class="btn btn-light px-3 btn-lg" type="button" (click)="activeModal.dismiss('Cross click')">
      <i class="icon-close mr-1 text-secondary"></i><span>Hủy</span>
    </button>
    <div>
      <button class="btn btn-primary px-4 btn-lg" type="submit">
        <i class="icon-save mr-2"></i><span>Lưu</span>
      </button>
    </div>
  </div>
  </div>
</form>

