<div class="page-wrapper">
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <div class="card">-->
<!--          <div class="card-body">-->
<!--            <div class="d-flex mt-3 mb-3">-->
<!--              <div class="mr-auto">-->
<!--                <button class="btn btn-md btn-info text-white mr-2 px-3"  (click)="openRoleModal()"><i class="fa fa-plus mr-1"></i>Add role</button>-->
<!--                <button class="btn btn-md btn-secondary text-white ml-2 px-3"-->
<!--                        mwlConfirmationPopover placement="right" [appendToBody]="true"-->
<!--                        [popoverTitle]="'Confirmation'"-->
<!--                        [popoverMessage]="'Are you sure you want to remove selected role(s)?'"-->
<!--                        (confirm)="tableOptions.extraData.remove()"><i class="fa fa-trash mr-1">-->
<!--                </i>Remove selected role(s)</button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="table-responsive p-4 bg-white fadeSmooth animated">-->
<!--              <c-table [options]="tableOptions" #roleTable></c-table>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
            <div class="d-flex mt-3 mb-3">
              <div class="mr-auto">
                <button class="btn btn-md btn-info text-white mr-2 px-3"  (click)="openRoleModal()"><i class="fa fa-plus mr-1"></i>Thêm nhóm user</button>
<!--                <button class="btn btn-md btn-secondary text-white ml-2 px-3"-->
<!--                        mwlConfirmationPopover placement="right" [appendToBody]="true"-->
<!--                        [popoverTitle]="'Xác nhận'"-->
<!--                        [popoverMessage]="'Bạn muốn xóa nhóm user đã chọn ?'"-->
<!--                        (confirm)="tableOptions.extraData.remove()"><i class="fa fa-trash mr-1">-->
<!--                </i>Xóa nhóm user đã chọn</button>-->
              </div>
            </div>
      </div>
      <div class="col-12">
      <div class = "card">
        <div class="card-body">
          <main>
            <div class="content-area">
              <div class="table-area position-relative">
                <div class="table-responsive pt-0">
                  <table class="table table-accent w-100 h-100">
                    <thead class="bg-white w-100">
                    <tr class="text-center">
                      <th rowspan="2" colspan="2" title="Permissions" class="pl-4 text-left align-middle border-right">Quyền</th>
                      <th colspan="6" title="Group Roles" class="border-right">Nhóm user</th>
<!--                      <th title="System Roles" class="text-truncate">System Roles</th>-->
                    </tr>
                    <tr class="">
                      <th scope="col" class ="text-primary" *ngFor="let role of roleList"><a style="cursor: pointer" (click)="openRoleModal(role)" title="{{role.user_group_name}}">{{role.user_group_name}}</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let action of actionList; let k = index">
                      <tr>
                        <th colspan="9" class="pl-4 bg-table text-primary font-weight-normal h5" title="{{action.module_id}}">{{action.module_name}}</th>
                      </tr>
                      <tr class="text-center" *ngFor="let item of action.actions; let i = index">
                        <td class="pl-5 text-left border-right" colspan="2" title = "{{item.action_name}}">{{item.action_name}}</td>
                        <ng-container *ngFor="let role of roleList">
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [checked] = "handleChecked(role.user_group_id + '_' + action.module_id + '_' + item.action_id)"
                                     (change)="checkValue(role.user_group_id, action.module_id, item.action_id, role.user_group_name, $event)"
                                     value = "{{role.user_group_id + '_' + action.module_id + '_' + item.action_id}}" class="custom-control-input" id="{{role.user_group_id + '_' + action.module_id + '_' + item.action_id}}">
                              <label class="custom-control-label" for="{{role.user_group_id + '_' + action.module_id + '_' + item.action_id}}">&nbsp;</label>
                            </div>
                          </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </main>
<!--            <div class="table-responsive p-4 bg-white fadeSmooth animated p-4" style="padding-top: 69px;">-->
<!--              <table class="table table-striped table-borderless mb-0">-->
<!--                <thead>-->
<!--                <tr class="text-center">-->
<!--                  <th rowspan="2" class="pl-4 text-left align-middle border-right">Permissions</th>-->
<!--                  <th colspan="7">Roles</th>-->
<!--                </tr>-->
<!--                <tr class="text-center">-->
<!--                  <th scope="col" *ngFor="let role of roleList" style="cursor: pointer"><a href="#">{{role.user_group_name}}</a></th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <ng-container  *ngFor="let action of actionList; let k = index">-->
<!--                  <tr>-->
<!--                    <th colspan="9" class="pl-4 bg-table text-primary font-weight-normal h5">{{action.module_id}}</th>-->
<!--                  </tr>-->
<!--                  <tr class="text-center" *ngFor="let item of action.actions; let i = index">-->
<!--                    <td class="pl-5 text-left border-right" colspan="2" title = "{{item.action_name}}">{{item.action_name}}</td>-->
<!--                    <ng-container *ngFor="let role of roleList">-->
<!--                      <td>-->
<!--                        <div class="custom-control custom-checkbox">-->
<!--                          <input type="checkbox" [checked] = "handleChecked(role.user_group_id + '_' + action.module_id + '_' + item.action_id)"-->
<!--                                 value = "{{role.user_group_id + '_' + action.module_id + '_' + item.action_id}}" class="custom-control-input" id="{{role.user_group_id + '_' + action.module_id + '_' + item.action_id}}">-->
<!--                          <label class="custom-control-label" for="{{role.user_group_id + '_' + action.module_id + '_' + item.action_id}}">&nbsp;</label>-->
<!--                        </div>-->
<!--                      </td>-->
<!--                    </ng-container>-->
<!--                  </tr>-->
<!--                </ng-container>-->
<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->
        </div>
      </div>
      </div>
    </div>
  </div>

</div>

<!--  <div class="container-fluid px-0">-->
<!--    &lt;!&ndash; MAIN CONTENT &ndash;&gt;-->


<!--  </div>-->


