<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex mt-3 mb-3">
              <div class="mr-auto">
                <button class="btn btn-md btn-info text-white mr-2 px-3"  (click)="openPostModal()"><i class="fa fa-plus mr-1"></i>Thêm bài viết</button>
                <button class="btn btn-md btn-info text-white ml-2 px-3"
                        mwlConfirmationPopover placement="right" [appendToBody]="true"
                        [popoverTitle]="'Xác nhận'"
                        [popoverMessage]="'Bạn muốn ngừng xuất bản bài viết đã chọn?'"
                        (confirm)="tableOptions.extraData.publish()"><i class="fa fa-check-circle mr-1">
                </i>Xuất bản bài viết đã chọn</button>
                <button class="btn btn-md btn-secondary text-white ml-2 px-3"
                        mwlConfirmationPopover placement="right" [appendToBody]="true"
                        [popoverTitle]="'Xác nhận'"
                        [popoverMessage]="'Bạn muốn xuất bản bài viết đã chọn?'"
                        (confirm)="tableOptions.extraData.unpublish()"><i class="fa fa-ban mr-1">
                </i>Ngừng xuất bản bài viết đã chọn</button>
                <button class="btn btn-md btn-secondary text-white ml-2 px-3"
                        mwlConfirmationPopover placement="right" [appendToBody]="true"
                        [popoverTitle]="'Xác nhận'"
                        [popoverMessage]="'Bạn muốn xóa bài viết đã chọn?'"
                        (confirm)="tableOptions.extraData.remove()"><i class="fa fa-trash mr-1">
                </i>Xóa bài viết đã chọn</button>
              </div>
            </div>
            <div class="table-responsive p-4 bg-white fadeSmooth animated">
              <c-table [options]="tableOptions" #postTable></c-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




