<!--HOME PAGE-->

<!--<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>-->
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="plaintext">
              <formly-form [model]="model" [options]="options" [fields]="fields" [form]="form">
              </formly-form>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div *ngIf="!isNew" class="col-12 mb-4">
                <div class="row">
                  <div class="col-3">
                    <h5>Tổng chi phí</h5>
                    <span>{{estimateModel.fixed_cost}}</span>
                  </div>
                  <div class="col-3">
                    <h5>Chi phí khác</h5>
                    <span>{{estimateModel.variable_cost}}</span>
                  </div>
                  <div class="col-3">
                  <h5>Tiền lời mong muốn</h5>
                  <span>{{estimateModel.desired_profit}}</span>
                </div>
                  <div class="col-3">
                    <button class="btn btn-sm btn-danger text-white float-right mt-2 px-3" (click) = "showUpdate()"><i class="fa fa-calculator mr-1"></i>Cập nhật</button>
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="isUpdate || isNew">
                <div class="row">
                  <div class="col-9">
                    <form [formGroup]="estimateForm"  class="plaintext">
                      <formly-form [model]="estimateModel" [options]="estimateOptions" [fields]="estimateFields" [form]="estimateForm">
                      </formly-form>
                    </form>
                  </div>
                  <div class="col-3">
                    <button class="btn btn-sm btn-danger text-white float-right mt-2 px-3" (click) = "onEstimate()"><i class="fa fa-calculator mr-1"></i>Ước tính</button>
                  </div>
                </div>
              </div>
            </div>
            <hr style="height:2px;border:none;color:orangered;background-color:orangered;" [hidden]="!estimateModel.fixed_cost">
            <div class="text-center" [hidden]="!estimateModel.fixed_cost">
              <h5>Tổng doanh thu cần phải bán được: {{this.result.requiredTotal}}</h5>
              <h5>Tổng doanh thu hiện tại:  {{this.result.currentTotal}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- column -->
      <div class="col-lg-12" [hidden]="isNew">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6 text-center">
                <h4 class="card-title m-b-0">Quá trình hoàn vốn</h4>
                <circle-progress
                    #c1
                    [percent]="result.percent1"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    titleFontSize="40"
                    unitsFontSize="20"
                    animateSubtitle = "true"
                    subtitleFontSize="20"
                    [animationDuration]="300">
                </circle-progress>
                <h6>{{today}}</h6>
                <h6>{{result.data1 === 0 ? 'Đã hoàn lại được' : 'Chưa hoàn lại được'}}</h6>
                <h6 *ngIf="result.data1 !== null">Số tiền còn lại cần để hoàn vốn: {{result.data1}}</h6>
              </div>
              <div class="col-6 text-center">
                <h4 class="card-title m-b-0">Quá trình đạt được tiền lời</h4>
                <circle-progress
                    #c2
                    [percent]="result.percent2"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    unitsFontSize="20"
                    titleFontSize="40"
                    animateSubtitle = "true"
                    subtitleFontSize="20"
                    [animationDuration]="300">
                </circle-progress>
                <h6>{{today}}</h6>
                <h6>{{result.data2 === 0 ? 'Đã đạt được' : 'Chưa đạt được'}}</h6>
                <h6 *ngIf="result.data2 !== null">Số tiền còn lại cần để đạt được: {{result.data2}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- column -->
              <div class="col-lg-12">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType" #chart4>
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

