<!--HOME PAGE-->

<!--<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>-->
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class ="row">
              <div class = "col-9">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="plaintext">
                  <formly-form [model]="model" [options]="options" [fields]="fields" [form]="form">
                  </formly-form>
                </form>
              </div>
<!--              <div class = "col-3">-->
<!--                <button class="btn btn-sm btn-danger text-white float-right mt-4 px-3" (click) ="onSubmit()"><i class="fa fa-calculator mr-1"></i>Lọc</button>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-cyan text-center">
            <h1 class="font-light text-white"><i class="mdi mdi-account"></i></h1>
            <h5 class="m-b-0 m-t-5 text-white">{{this.staticList.total_user_register}}</h5>
            <h6 class="text-white">Người đăng ký</h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-success text-center">
            <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
            <h5 class="m-b-0 m-t-5 text-white">{{this.staticList.revenue}}</h5>
            <h6 class="text-white">Doanh thu</h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-warning text-center">
            <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
            <h5 class="m-b-0 m-t-5 text-white">{{this.staticList.total_order}}</h5>
            <h6 class="text-white">Tổng đơn hàng</h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-danger text-center">
            <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
            <h5 class="m-b-0 m-t-5 text-white">{{this.staticList.total_discount}}</h5>
            <h6 class="text-white">Tổng khuyến mãi</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- column -->
              <div class="col-lg-12">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType" #chart3>
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- column -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Khách hàng thân thiết</h4>
            <c-table [options]="topCustomersOptions" #topCustomersTable></c-table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Card -->
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Món ăn đặt nhiều</h4>
            <c-table [options]="tableOptions" #topFoodTable></c-table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- column -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title m-b-0">Số lượng đặt hàng</h4>
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend" #chart1>
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title m-b-0">Doanh thu</h4>
            <canvas baseChart
                    [data]="pieChartData1"
                    [labels]="pieChartLabels1"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend"  #chart2>
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

