<div class="modal-header justify-content-center bg-dark text-white">
    <h4 *ngIf="(foodType | json) == '{}'" class="modal-title text-uppercase"><i class="fa fa-plus mr-2"></i>Thêm loại thực phẩm</h4>
    <h4 *ngIf="(foodType | json) != '{}'" class="modal-title text-uppercase"><i class="fa fa-edit mr-2"></i>Cập nhật loại thực phẩm</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="createFoodType()" class="plaintext">
      <formly-form [model]="model" [options]="options" [fields]="fields" [form]="form">
        <img *ngIf="imageSrc" [src]="imageSrc" style="max-width:150px;max-height:150px; margin-right: 20px"/>
        <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
      </formly-form>
    </form>
  </div>
  <div class="modal-footer border-0">
    <button class="btn btn-light px-3 btn-lg rounded-sm" type="button" (click)="activeModal.dismiss('Cross click')">
      <i class="icon-close hvr-icon mr-1 text-secondary"></i>Hủy
    </button>
    <button class="btn btn-primary px-4 btn-lg rounded-sm" (click)="createFoodType()">
      <i class="fa fa-save mr-2 hvr-icon"></i>Lưu
    </button>
</div>
