<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex mt-3 mb-3">
              <div class="mr-auto">
                <button class="btn btn-md btn-info text-white mr-2 px-3"  (click)="openUserModal()"><i class="fa fa-plus mr-1"></i>Thêm tài khoản</button>
                <button class="btn btn-md btn-info text-white ml-2 px-3"
                        mwlConfirmationPopover placement="right" [appendToBody]="true"
                        [popoverTitle]="'Xác nhận'"
                        cancelText="Hủy"
                        confirmText="Xác nhận"
                        [popoverMessage]="'Bạn muốn kích hoạt tài khoản đã chọn?'"
                        (confirm)="tableOptions.extraData.activate()"><i class="fa fa-check-circle mr-1">
                </i>Kích hoạt tài khoản đã chọn</button>
                <button class="btn btn-md btn-secondary text-white ml-2 px-3"
                        mwlConfirmationPopover placement="right" [appendToBody]="true"
                        [popoverTitle]="'Xác nhận'"
                        [popoverMessage]="'Bạn muốn bỏ kích hoạt tài khoản đã chọn?'"
                        (confirm)="tableOptions.extraData.remove()"><i class="fa fa-ban mr-1">
                </i>Bỏ kích hoạt tài khoản đã chọn</button>
              </div>
            </div>
            <div class="table-responsive p-4 bg-white fadeSmoLioth animated">
              <c-table [options]="tableOptions" #userTable></c-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







