<!--FOOD MANAGEMENT-->
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-md btn-info text-white mr-2 px-3"  (click)="openGroupForm()"><i class="fa fa-plus mr-1"></i>Thêm thực phẩm</button>
            <!-- MAIN CONTENT -->
            <main class="col-md-12 ml-sm-auto col-lg-12 px-0">
              <header class="py-4 border-bottom">
                <nav class="d-flex">
                  <div class="nav nav-tab" id="nav-tab-food" role="tablist">
                    <a class="nav-item nav-link pt-0" [class.active]="tab==0" id="nav-food-all" data-toggle="tab" href="#all"
                       role="tab" (click)="selectTab('all')"><h4>Tất cả</h4></a>
                    <a class="nav-item nav-link pt-0" [class.active]="tab==1" id="nav-food-department" data-toggle="tab" href="#department"
                       role="tab" aria-controls="nav-activities" aria-selected="false" (click)="selectTab('department')"><h4>Gian hàng</h4></a>
                    <a class="nav-item nav-link pt-0" [class.active]="tab==2" id="nav-food-stock" data-toggle="tab"
                       href="#stock" (click)="selectTab('stock')"><h4>Lưu kho</h4></a>
                  </div>
                </nav>
              </header>
              <div class="tab-content mb-4 py-2 px-4">
                <!--HARD FOOD-->
                <div class="tab-pane p-0 fade" id="all" [ngClass]="{'in active show': tab == 0}">
                  <ng-template #tab0></ng-template>
                </div>
                <!--SOFT FOOD-->
                <div class="tab-pane fade" id="department" [ngClass]="{'in active show': tab == 1}">
                  <ng-template #tab1></ng-template>
                </div>
                <!--KNOWLEDGE BASED-->
                <div class="tab-pane fade" id="stock" [ngClass]="{'in active show': tab == 2}">
                  <ng-template #tab2></ng-template>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
