<div class="d-flex" *ngIf="options.tableTitle || (options.useSearch && options.searchOptions.inputVisible)">
    <div class="mr-auto" *ngIf="options.tableTitle">
        <h4 class="tableTitle">{{options.tableTitle | translate}}</h4>
    </div>
    <div class="ml-auto" *ngIf="options.useSearch && options.searchOptions.inputVisible">
        <div class="input-group">
            <input class="form-control"
                   placeholder="{{options.searchOptions.placeHolderText | translate}}"
                   title="{{options.searchOptions.title | translate}}"
                   [cInputDebounce]="500" type="text" [(ngModel)]="_filterText" (inputKeyup)="search()">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
</div>

<table class="table c-table {{options.tableClass}}" [ngClass]="{'table-nopaging': !options.usePaging}">
    <thead>
    <tr class="c-table-header">
        <th *ngIf="options.useExpandRow" class="column-expand" (click)="toggleExpandRows()"
            style="cursor: pointer">
                    <span class="btn btn-link btn-xs"><i class="fa fa-angle-right"
                                                         [ngClass]="{'fa-rotate-90': _expandRows === true}"></i></span>
        </th>

        <th *ngFor="let column of options.columnDefs" [attr.class]="column.cellHeaderClass">
            <!-- not a sort-able column -->
            <span *ngIf="!column.useFilter && !column.useSort && !column.useFilterDate  && !column.useSearch">
                        <span *ngIf="!column.headerCellTemplate">{{column.displayName | translate}}</span>
                        <c-header-cell *ngIf="column.headerCellTemplate || column.headerCellComponent"
                                       [column]="column"
                                       [extraData]="options.extraData"></c-header-cell>
                    </span>

            <!-- a sort-able column -->
            <a *ngIf="column.useSort" class="column-sort" (click)="sortOnColumn(column)">
                <span *ngIf="!column.headerCellTemplate">{{column.displayName | translate}}</span>
                <c-header-cell *ngIf="column.headerCellTemplate" [column]="column"
                               [extraData]="options.extraData"></c-header-cell>
                <i *ngIf="column.useSort"
                   class="c-table-icon fa sort-table"
                   [ngClass]="getSortClass(column.sort)"></i>
            </a>

            <!-- a filter-able column -->
            <div class="dropdown c-table-dropdown-filter" *ngIf="column.useFilter">
                <a class=" dropdown-toggle" data-toggle="dropdown">
                    <span *ngIf="!column.headerCellTemplate">{{column.displayName | translate}}</span>
                    <c-header-cell *ngIf="column.headerCellTemplate" [column]="column"
                                   [extraData]="options.extraData"></c-header-cell>
                    <i class="c-table-icon fa fa-filter"
                       [ngClass]="{'filtered': column.filterOptions.values.length && column.filterOptions.values.length != column.filterOptions.data.length}"></i>
                </a>

                <ul class="dropdown-menu">
                    <li class="list-group-item">
                        <div class="checkbox toggle-checkbox">
                            <label>
                                <input type="checkbox" class="check-box"
                                       [checked]="column.filterOptions.checkAll"
                                       (change)="toggleCheckAll(column, $event, $event.target.checked)">
                                <span class="check-box"></span>
                                <span *ngIf="column.filterOptions.checkAll"> {{'C_TABLE_UNSELECT_ALL' | translate }}</span>
                                <span *ngIf="!column.filterOptions.checkAll"> {{'C_TABLE_SELECT_ALL' | translate }}</span>
                            </label>
                        </div>
                    </li>
                    <li *ngFor="let value of column.filterOptions.data" class="list-group-item">
                        <div class="check-box">
                            <label>
                                <input type="checkbox" class="check-box"
                                       (change)="filterOnColumn(column, value, $event.target.checked)">
                                <span class="check-box"></span> {{value}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- a search-able column -->
            <div class="dropdown" *ngIf="column.useSearch">
                <a class=" dropdown-toggle" data-toggle="dropdown">
                    <span *ngIf="!column.headerCellTemplate">{{column.displayName | translate}}</span>
                    <c-header-cell *ngIf="column.headerCellTemplate" [column]="column"
                                   [extraData]="options.extraData"></c-header-cell>
                    <i class="c-table-icon fa fa-filter" [ngClass]="{'filtered': column.searchText}"></i>
                </a>

                <div class="dropdown-menu" style="padding: 10px">
                    <div class="input-group">
                        <input placeholder="{{'C_TABLE_COLUMN_SEARCH_TEXT' | translate}}" [cInputDebounce]="500"
                               (inputKeyup)="searchDataOnColumn(column, $event.value)" class="form-control"
                               type="text">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                class="fa fa-search"></i></span></div>
                    </div>
                </div>
            </div>

            <!-- a filter-date-able column -->
            <!--<div class="dropdown" *ngIf="column.useFilterDate">-->
            <!--<a class=" dropdown-toggle" data-toggle="dropdown">-->
            <!--<span *ngIf="!column.headerCellTemplate">{{column.displayName | translate}}</span>-->
            <!--<c-header-cell *ngIf="column.headerCellTemplate" [column]="column"-->
            <!--[extraData]="options.extraData"></c-header-cell>-->
            <!--<i class="fa fa-filter"-->
            <!--[ngClass]="{'filtered': column.filterDateOptions.from || column.filterDateOptions.to}"></i>-->
            <!--</a>-->

            <!--<div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">-->
            <!--<div class="row">-->
            <!--<div class="col-md-6">-->
            <!--<label class="control-label">-->
            <!--{{'C_TABLE_FROM' | translate}}:-->
            <!--<input [(ngModel)]="column.filterDateOptions.from"-->
            <!--[(options)]="column.filterDateOptions.fromOptions"-->
            <!--c-datetime-picker type="datetime" class="form-control">-->
            <!--</label>-->
            <!--</div>-->

            <!--<div class="col-md-6">-->
            <!--<label class="control-label">-->
            <!--{{'C_TABLE_TO' | translate}}:-->
            <!--<input [(ngModel)]="column.filterDateOptions.to"-->
            <!--[(options)]="column.filterDateOptions.toOptions"-->
            <!--c-datetime-picker type="datetime" class="form-control">-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

        </th>
    </tr>
    </thead>

    <!-- Repeat row section -->
    <tbody>
    <ng-template ngFor let-row [ngForOf]="tableData" [ngForTrackBy]="row?.id">
        <tr [ngClass]="row.rowClass || options.rowClass(row)" (click)="options.rowClick(row)">
            <td *ngIf="options.useExpandRow" style="width: 1%; cursor: pointer">
                        <span class="btn btn-link btn-xs" *ngIf="checkExpandRow(row)">
                            <i class="fa fa-angle-right" [ngClass]="{'fa-rotate-90': row._expand === true}"></i>
                        </span>
            </td>

            <td *ngFor="let column of options.columnDefs" [attr.class]="column.cellClass">
                <span *ngIf="!column.cellComponent && !column.cellTemplate && !column.isAsync" title="{{getFieldValue(row, column.field) | cHolder: column.cellPipe}}">{{getFieldValue(row, column.field) | cHolder: column.cellPipe}}</span>
                <span *ngIf="column.isAsync" title="{{getFieldValue(row, column.field) | async}}">{{getFieldValue(row, column.field) | async}}</span>
                <c-cell *ngIf="column.cellComponent || column.cellTemplate" [row]="row" [column]="column"
                        [extraData]="options.extraData"></c-cell>
            </td>
        </tr>

        <tr *ngIf="checkExpandRow(row, row._expand)" class="expanded-row">
            <!--<td></td>-->
            <td [attr.colspan]="options.columnDefs.length+1">
                <c-table [options]="options.expandRowOptions.tableOptions"
                         [data]="options.expandRowOptions.tableOptions.useBackboneModel ?
                                    row['entity'][options.expandRowOptions.field]['models'] :
                                    row['entity'][options.expandRowOptions.field]"></c-table>
            </td>
        </tr>
    </ng-template>
    </tbody>

    <!-- No results section -->
    <tbody *ngIf="!tableData.length">
    <tr>
        <td *ngIf="loading" [attr.colspan]="options.columnDefs.length">
            <h4><i class="fa fa-spinner fa-pulse fa-fw margin-bottom"></i></h4>
        </td>
        <td *ngIf="!loading"
            [attr.colspan]="options.useExpandRow ? (options.columnDefs.length + 1) : options.columnDefs.length">
            {{'C_TABLE_NO_RESULTS' | translate}}
        </td>
    </tr>
    </tbody>

</table>

<div class="d-flex d-sm-flex mt-3" *ngIf="options.showTableFooter && _totalItems > 10">
    <div *ngIf="options.usePaging && options.pagingOptions.showTotalRecords">
        <div class="btn-group mr-2">
            <select class="form-control" (change)="changePageSize($event.target.value)">
                <option *ngFor="let pageSize of options.pagingOptions.pageSizes"
                        [selected]="_pageSize === pageSize">
                    {{pageSize}}
                </option>
            </select>
        </div>
        <div class="btn-group">{{_totalItems}} {{'C_TABLE_RECORDS' | translate}}</div>
    </div>

    <!-- Pagination section -->
    <nav class="ml-auto">
        <ul class="pagination" *ngIf="options.usePaging">
            <li class="d-flex align-items-stretch page-item" [class.disabled]="noPrevious()">
                <a class="page-link px-2 text-body" href="#" (click)="!noPrevious() && selectPage(1, $event)">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>
            <li class="d-flex align-items-stretch page-item" [class.disabled]="noPrevious()">
                <a class="page-link px-2 text-body" href="#" (click)="!noPrevious() && selectPage(_page - 1, $event)">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li class="d-flex align-items-stretch page-item">
                <div class="input-group">
                    <input type="text" class="form-control bg-white text-right rounded-0 border-left-0" style="width: 3rem"
                           [(ngModel)]="_page" (keydown.Enter)="selectPage(_page, $event)"
                           (blur)="selectPage(_page, $event)">
                    <div class="input-group-append">
                        <span class="input-group-text bg-white rounded-0 border-left-0 pl-2 custom-input">{{'/'+ _totalPages}}</span>
                    </div>
                </div>
            </li>
            <li class="d-flex align-items-stretch page-item" [class.disabled]="noNext()">
                <a class="page-link px-2 text-body" href="#" (click)="!noNext() && selectPage(_page + 1, $event)">
                    <i class="fa fa-chevron-right"></i></a>
            </li>
            <li class="d-flex align-items-stretch page-item" [class.disabled]="noNext()">
                <a class="page-link px-2 text-body" href="#" (click)="!noNext() && selectPage(_totalPages, $event)">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
            <li class="d-flex align-items-stretch page-item" *ngIf="options.refresh">
                <a class="page-link px-2 text-body" href="#" (click)="refresh(); false;">
                    <i class="fa fa-sync"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>


