<div class="form-group">
  <div class="input-group">
    <input class="form-control"
           placeholder="{{placeHolder | translate}}"
           title="{{title | translate}}"
           [cInputDebounce]="debounceTime" type="text" (inputKeyup)="search($event.value)">
    <div class="input-group-append">
      <div class="input-group-text"><i class="fa fa-search"></i></div>
    </div>
  </div>
</div>
