.c-table-header .dropdown-toggle::after {
  display: none;
}

.c-table-icon {
  margin-left: 10px;
  color: grey;
}

.c-table-dropdown-filter {
  .dropdown-menu {
    padding: 0 0 !important;
    border: none;
    .list-group-item {
      padding: 5px 15px;
      font-weight: normal !important;
    }
  }
}
