<!--ORDER MANAGEMENT-->
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
<!--            <button class="btn btn-md btn-info text-white mr-2 px-3"  (click)="openGroupForm()"><i class="fa fa-plus mr-1"></i>Thêm đơn hàng</button>-->
            <!-- MAIN CONTENT -->
            <main class="col-md-12 ml-sm-auto col-lg-12 px-0">
              <header class="py-4 border-bottom">
                <div class="d-flex">
                  <nav class="nav nav-tab">
                    <a class="nav-item nav-link pt-0 abc"  data-toggle="tab" href="#nav-waiting" aria-controls="nav-waiting"
                       role="tab" (click)="activityTabClickedButton(true)"><h4>Đơn hàng đang chờ</h4></a>
                    <a class="nav-item nav-link pt-0 active"  data-toggle="tab" href="#nav-pending"
                       role="tab" aria-controls="nav-pending"  (click)="activityTabClickedButton(true)"><h4>Đơn hàng đang xử lý</h4></a>
                    <a class="nav-item nav-link pt-0"  data-toggle="tab" aria-controls="nav-done"
                       href="#nav-done" (click)="activityTabClickedButton(true)"><h4>Đơn hàng đã xử lý</h4></a>
                  </nav>
                </div>
              </header>
              <div class="tab-content mb-4 py-2 px-4">
                <div class="tab-pane p-0 fade" id="nav-waiting"  role="tabpanel" aria-labelledby="nav-waiting-tab">
                  <app-order-list></app-order-list>
                </div>
                <div class="tab-pane fade active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
                  <app-order-pending-list></app-order-pending-list>
                </div>
                <div class="tab-pane fade" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
                  <app-order-done-list></app-order-done-list>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
