<div class="modal-header justify-content-center bg-dark text-white">
    <h4 *ngIf="(card | json) == '{}'" class="modal-title text-uppercase"><i class="fa fa-plus mr-2"></i>Add new card</h4>
    <h4 *ngIf="(card | json) != '{}'" class="modal-title text-uppercase"><i class="fa fa-edit mr-2"></i>Edit card</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="createCard()" class="plaintext">
      <formly-form [model]="model" [options]="options" [fields]="fields" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="modal-footer border-0">
    <button class="btn btn-light px-3 btn-lg rounded-sm" type="button" (click)="activeModal.dismiss('Cross click')">
      <i class="icon-close hvr-icon mr-1 text-secondary"></i>Cancel
    </button>
    <button class="btn btn-primary px-4 btn-lg rounded-sm" (click)="createCard()">
      <i class="fa fa-save mr-2 hvr-icon"></i>Save
    </button>
</div>
